$light-color: #eeeeee;
$dark-color: #222222;

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lucida Sans Unicode", Verdana, sans-serif;
    background-color: #85adad;

    section {
        text-align: center;
        line-height: 1.9;
        padding: 40px 15%;

        h1 {

            &:after {
                content: '';
                border-top: 1px solid $light-color;
                display: block;
                width: 100%;
                margin: 0 auto;
            }
        }
    }

    footer {
        min-height: 300px;
    }
}

.img {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-img {
    min-height: 100%;
}

.scrl-img {
    min-height: 400px;
}

.text-border {
    display: inline-block;
    padding: 5px 15px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #eeeeee;
}

.img-text {
    position: absolute;
    width: 100%;
    top: 45%;
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.dark {
    background-color: #476b6b;
    color: $light-color;
}

.light {
    background-color: #d1e0e0;
    color: $dark-color;
}

#img1 {
    background-image: url('img/forest-landscape-mountain-range-129105.jpg');
}

#img2 {
    background-image: url('img/mountains-clouds-forest-trees.jpg');
}

#img3 {
    background-image: url('img/pexels-photo-442645.jpg');

    .img-text {
        font-size: 1.25em;
        text-transform: initial;
    }
}
